asgiref==3.5.2
catboost==1.2
click==8.0.4
contourpy==1.0.5
cycler==0.11.0
dill==0.3.6
Django==4.1
Flask==2.2.2
fonttools==4.41.1
graphviz==0.20.1
itsdangerous==2.0.1
Jinja2==3.1.2
joblib==1.2.0
kiwisolver==1.4.4
MarkupSafe==2.1.1
matplotlib==3.7.1
munkres==1.1.4
numexpr==2.8.4
numpy==1.25.0
packaging==23.1
pandas==1.5.3
pickle4==0.0.1
Pillow==9.4.0
pip==23.2.1
plotly==5.9.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3
scikit-learn==1.2.2
scipy==1.9.3
seaborn==0.12.2
setuptools==67.8.0
six==1.16.0
scikit-learn
sqlparse==0.4.3
tenacity==8.2.2
threadpoolctl==2.2.0
tzdata==2023.3
Werkzeug==2.2.3
wheel==0.38.4
xgboost==1.7.3
